@import "tailwindcss";

.custom-pagination .ant-pagination-item {
  border-radius: 8px !important;
  border-color: #f3f4f6 !important; 
  background: #f9fafb !important; 
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

.custom-pagination .ant-pagination-item-active {
  background: #7c3aed !important;
  border-color: #7c3aed !important;
}

.custom-pagination .ant-pagination-item-active a {
  color: white !important;
}

.custom-pagination .ant-pagination-prev .ant-pagination-item-link,
.custom-pagination .ant-pagination-next .ant-pagination-item-link {
  border-radius: 8px !important;
  background: #f9fafb !important;
  border-color: #f3f4f6 !important;
}

.custom-pagination .ant-pagination-item:hover {
  border-color: #7c3aed !important;
}

.custom-pagination.ant-pagination {
  display: flex !important;
  gap: 8px !important; /* This creates the space between the buttons */
  align-items: center;
}